[include]
	path = ~/.gitconfig.local

[status]
	showUntrackedFiles = no

[alias]
	add-commit = !git add -A && git commit
	cm = !git add -A && git commit -m
	save = !git add -A && git commit -m 'SAVEPOINT'
	last = log -1 HEAD
	acp = ! git add -A . && git commit -m "Update" && git push origin master
        ac = ! git add -A . && git commit 
        
